body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}



.container {
    width: 960px;
    margin: 0 auto;
}


.header {
    background: url('https://www.american.edu/spa/data-science/images/datascience-hero.jpg') no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: auto;
}



.borderLeftRight {
    display: inline-block;
    position: relative;
    color: hsl(222, 25%, 14%);
  }
  
  .borderLeftRight::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: hsl(243, 80%, 62%);
    transform-origin: bottom right;
    transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
  }
  
  .borderLeftRight:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  

footer {
    background: #BEBEBE;
    margin-top: 60px;
    padding: 20px;
    height: 40px;
    text-align: center;
    color: #fff;
}
footer p {
    margin: 0;
}








